/* Fonts Family : Montserrat & Opensans */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* Global CSS File */
body{

}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
p{
	font-family: 'Open Sans', sans-serif;
}
ul li{
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
/* Header Section CSS Start */
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #31578c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}
.navbar-light .navbar-nav .nav-link {
	position: relative;
    color: #31578c;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 15px;
}
.navbar-light .navbar-nav .nav-link::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	top: 0;
	right: -100%;
	background: rgba(255, 139, 56, 0);
	transition: .3s ease-in-out;
}
.navbar-light .navbar-nav .nav-link::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: -100%;
	background: rgba(255, 139, 56, 0);
	transition: .3s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #f15d2a;
}
.navbar-light .navbar-nav .nav-link:hover::after{
	left: 0;
	background: rgba(49, 87, 140, 1);

}
.navbar-light .navbar-nav .nav-link:hover:before{
	right: 0;
	background: rgba(241, 93, 42, 1);
}
/* Hero Section CSS Start */
.hero-section {
    background: url(../img/hero-bg.png) no-repeat center top;
    background-size: cover;
    width: 100%;
    padding: 250px 0;
    margin-top: 5px;
}
.hero-section  h1{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 55px;
    letter-spacing: 1px;
    word-spacing: 0px;
    margin-right: 40px;
}
/* About Section Start */
.about{
	padding: 100px 0px;
}
.about-margin{
	margin-top: 50px;
}
.as-separator{
    height: 3px;
    width: 50px;
    background: #f2622c;
    margin-bottom: 15px;
}
.about h3 {
    color: #1f4f87;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: left;
}
.about p{
    color: #b0b0b1;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 30px;
}
/* Work Section CSS Start */
.work-section {
    background: #f7f8f8;
    padding: 100px 0px 0px;
}
.work-section h3{
    color: #2b2f85;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 30px;
}
 .ws-separator{
    height: 3px;
    width: 50px;
    background: #f2622c;
    display: block;
    margin: 0 auto 18px;
}
.work-body{
    margin-top: 100px;
}
.work-img {
    position: relative;
    text-align: center;
}
.work-img-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200px;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    line-height: 200px;
    padding: 0 25px;
}
.work-photos {
    display: flex;
    margin-top: 35px;
    padding-left: 153px;
}
.work-img img{
    padding: 0px 12px;
}
 .work-img-content h5{
    letter-spacing: 2px;
}
/* Attorny Section CSS Start */
.attorny-section {
    background: url(../img/attorny-sec-bg.png) no-repeat center top;
    background-size: cover;
    padding: 185px 0px 175px;
}
.attorny-content{
    margin-top: 150px;
}
.attorny-section h3{
    color: #fff;
    font-weight: 700;
    margin-top: 25px;
    text-align: left;
    letter-spacing: 2px;
    font-size: 32px;
}
.at-separator{
    height: 3px;
    width: 75px;
    background: #f2622c;
    padding: 0px;
}
.attorny-section p{
    color: #929dcf;
    font-size: 16px;
    text-align: left;
    margin-top: 25px;
    line-height: 30px;
    padding-right: 25px;
}
.attorny-section a{
    color: #f2622c;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}
.attorny-section a:hover{
    color: #fff;
    padding-left: 5px;
    cursor: pointer;
}

.attorny-item{
    position: relative;
    padding-bottom: 25px;
}

.attorny-name h4 {
    position: absolute;
    bottom: 55px;
    color: #fff;
    z-index: 1;
    left: 21px;
    text-transform: uppercase;
    line-height: 35px;
    font-weight: 600;
}
.attorny-middle {
    padding-left: 80px;
}
/* Languages Section Start */
.languages-section{
    padding: 100px 0px;
}
.languages-section h3{
    text-align: center;
    text-transform: uppercase;
    color: #28377e;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 2px;
}
.ls-separator{
    height: 3px;
    width: 75px;
    background: #f2622c;
    display: block;
    margin: 0 auto 15px;
}
.language-content h4{
    color: #28377e;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    text-align: left;
}
.language-content{
    padding: 0;
 }
.language-content p {
    color: #b0b0b1;
    font-size: 16px;
    text-align: left;
    line-height: 27px;
    margin-bottom: 25px;
    padding-right: 30px;
}
.language-content a{
    display: block;
    margin: -15px auto;
    color: #f2622c;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s ease-in-out
}
.language-content a:hover{
    color: #28377e;
    padding-left: 5px;
}
.language-itmes{
    margin-top: 75px;
}
/* Contact Section CSS Start */
.contact-section{
    background: #28377e;
    padding: 100px 0px;
}
.contact-section h3{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 35px;
}
.cs-separator{
    height: 3px;
    width: 60px;
    background: #f2622c;
    display: block;
    margin: 0 auto 15px;
}
.form-control {
    border: none;
    background: no-repeat;
    border-bottom: 1px solid #4759a7;
    margin-bottom: 20px;
    width: 50%;
    display: block;
    margin: 50px auto;
    color: #fff;
}
.form-control:focus {
    color: #fff;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
}
.form-control::placeholder{
    color: #fff;
    opacity: 1;
    font-weight: 500;
}
.btn-form{
    background: #f2622c;
    display: block;
    margin: 0 auto;
    padding: 8px 70px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .3s ease-in-out;
}
.btn-form:hover{
    background: #fff;
    color: #28377e;
    cursor: pointer;
}
/* Footer Section CSS Start */
footer{
    background: #0c1234;
    padding: 30px 0px;
}
.btn-check:focus+.btn, 
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.social-media ul li{
    list-style: none;
    display: inline;
    margin: 0 5px;
}
.social-media ul li a .fa{
    color: #b1b7dd;
    font-size: 22px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.social-media ul li a .fa:hover{
    transform: scale(1.2) rotate(10deg);
    color: #f2622c;
}
.social-media ul{
    text-align: right;
}
footer h6 {
    color: #616ca8;
    text-align: left;
    margin-top: 20px;
}